Makefile.in
Makefile
*/Makefile.in
*/Makefile
*/*/Makefile.in
*/*/Makefile
aclocal.m4
autom4te.cache
m4
*/*.o
*/*.lo
*/*.la
*/*.libs
*/.deps
*/*/*.o
*/*/*.lo
*/*/*.la
*/*/.libs
*/*/.deps
*.swp
*/*.swp
config.*
install-sh
libtool
ltmain.sh
stamp-h1
configure
depcomp
missing
autoscan.log
configure.scan
packet-config
tags
